 <!-- App CSS -->
 <link rel="stylesheet" href="/styles/header.css" type="text/css" />

<header>
  <nav id="navigation">
    <div class="logo"> SORT.ID
      </div>
    </div>
    <div id="right-nav">
        <p>Hello, [username]!</p>
    <div id="right-nav-buttons">
      <button type="button" class="register-button">Register</button>&nbsp;
      <button type="button" class="login-button">Login</button>
    </div>
    </div>
  </nav>

  <!-- Log in Form -->
  <form action="/login" class="logIn" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="login-email">
      <label for="password">Password:</label>
    <input type="password" name="login-password"></input>
    <button type="submit" class="submit-login">Login</button>
    </form>

    <!-- Register Form -->
    <form action="/register" class="register" method="POST">
      <label for="username">Username:</label>
      <input type="username" name="register-username">
      <label for="email">Email:</label>
      <input type="email" name="register-email">
        <label for="password">Password:</label>
      <input type="password" name="register-password"></input>
      <button type="submit" class="submit-register">Register</button>
      </form>

</header>

<!-- if(user logged in) handling needs to be implemented -->
