<header>
  <nav id="navigation">
    <div class="logo"> SORT.ID
      </div>
    </div>
    <div id="right-nav">
        <p>Hello, username!</p>
    <div id="right-nav-buttons">
      <button type="button" class="register-button">Register</button>
      <button type="button" class="login-button">Login</button>
    </div>
    </div>
  </nav>

  <!-- Log in Form (Take CSS Out for proper styling. No longer in line)-->
  <form action="/login" class="logIn" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" style="width: 30%; margin: 1em">
      <label for="password">Password:</label>
    <input type="password" name="password" style="width: 30%; margin: 1em"></input>
    <button type="submit" class="submit-login">Login</button>
    </form>

    <!-- Register Form (Take CSS Out for proper styling. No longer in line) -->
    <form action="/register" class="register" method="POST">
      <label for="username">Username:</label>
      <input type="username" name="username" style="width: 20%; margin: 1em">
      <label for="email">Email:</label>
      <input type="email" name="email" style="width: 20%; margin: 1em">
        <label for="password">Password:</label>
      <input type="password" name="password" style="width: 20%; margin: 1em"></input>
      <button type="submit" class="submit-register">Login</button>
      </form>

</header>

<!-- if(user logged in) handling needs to be implemented -->
