 <!-- App CSS -->
 <link rel="stylesheet" href="/styles/header.css" type="text/css" />
<header>
  <nav id="navigation">
    <div class="logo"> SORT.ID
      </div>
    </div>
    <div id="right-nav">
    <!-- <% if (!user) { %>

    <% } else { %> -->
      <form method = "POST" action="/logout" class ="form-inline">
    <label>Hello, <%= user.username %></label>
      <button type="submit" class="logout">Log Out</button>&nbsp;
    </div>
    </div>
    <!-- <% } %> -->
  </nav>
</header>

<!-- if(user logged in) handling needs to be implemented -->
