<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
</head>

<body>
  <!-- Main Content -->
  <main>

    <!-- Navigation Bar -->
    <nav>
      <div><span class="title-case">SORT.ID</span>
        <!-- <span class="sub-title">the smart to-do list</span></div> -->
    </nav>

    <!-- Add To-Do box -->
    <section class="new-to-do">
      <form action="" id="" method="post">
        <label for="to-do">What would you like to do later?</label><br></br>
        <textarea name="text" id="to-do" class="text-area"></textarea>
        <div class="footer">
          <button type="submit">Add To-Do</button>
        </div>
      </form><br></br>

      <!-- Preview To-Do box -->
      <label class="preview">
        Select a match:
      </label>
      <article class="preview-box">
        <article class="api-1"></article>
        <article class="api-2"></article>
        <article class="api-3"></article>
        <article class="api-4"></article>
      </article>
    </section>

    <!-- To-Do Lists -->
    <section class="lists">
      <article class="to-watch">
        <header>
          <div class="list-name">To Watch</div>
        </header>
        <p class="list-body"></p>
        <footer>
          <div class="date-updated"></div>
        </footer>
      </article><br></br>
      <article class="to-read">
        <header>
          <div class="list-name">To Read</div>
        </header>
        <p class="list-body"></p>
        <footer>
          <div class="date-updated"></div>
        </footer>
      </article><br></br>
      <article class="to-eat">
        <header>
          <div class="list-name">To Eat</div>
        </header>
        <p class="list-body"></p>
        <footer>
          <div class="date-updated"></div>
        </footer>
      </article><br></br>
      <article class="to-buy">
        <header>
          <div class="list-name">To Buy</div>
        </header>
        <p class="list-body"></p>
        <footer>
          <div class="date-updated"></div>
        </footer>
      </article><br></br>
      <article class="uncategorized">
        <header>
          <div class="list-name">(Uncategorized)</div>
        </header>
        <p class="list-body"></p>
        <footer>
          <div class="date-updated"></div>
        </footer>
      </article>
    </section>

  </main>
</body>

</html>
