<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Lists</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/user-lists.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- App CSS -->
  <!-- <link rel="stylesheet" href="/styles/index.css" type="text/css" /> -->

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- APP JS -->
  <script type="text/javascript" src="scripts/client.js"></script>
</head>

<body>
  <!-- Main Content -->
  <main>

    <!-- Navigation Bar -->
    <%- include partials/header -%>

    <!-- To-Do Lists -->
    <div class="lists">

      <div class="list to-watch">
        <h3>To Watch</h3>
        <table>
          <thead class="table head">
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody class="table body">
            <% for (const toDo of toDos) { %>
              <% if (toDo.lists_id === 1) { %>
                <tr>
                  <td><input type="checkbox"></td>
                  <td><%= toDo.to_do_name %></td>
                  <td><%= toDo.to_do_description %></td>
                  <td>
                    <form method="POST" action="/todo/<%=toDo.id %>/delete">
                      <button type="submit">Delete</button>
                    </form>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>

    </div>












      <!-- <article class="to-watch">
        <header>
          <div class="list-name">To Watch</div>
        </header>
        <p>
        <article class="list-entry">
          <div class="title"></div>
          <div class="director"></div>
          <div class="description"></div>
          <div class="notes"></div>
          <div class="footer">
            <button class="edit">Edit</button>&nbsp;
            <button class="delete">Delete</button>
          </div>
        </article>
        </p>
        <footer>
          <div class="date-updated"></div>
          <div class="action-icons"> &nbsp;&nbsp;
            <i class="fa fa-share"></i>
          </div>
        </footer>
      </article><br></br>

      <article class="to-read">
        <header>
          <div class="list-name">To Read</div>
        </header>
        <p>
        <article class="list-entry">
          <div class="title">Moby-Dick (1851)</div>
          <div class="author">Herman Melville</div>
          <div class="description"></div>
          <div class="notes">[notes]</div>
          <div class="footer">
            <button class="edit">Edit</button>&nbsp;
            <button class="delete">Delete</button>
          </div>
        </article>
        </p>
        <footer>
          <div class="date-updated">Updated: March 7, 2021</div>
          <div class="action-icons"> &nbsp;&nbsp;
            <i class="fa fa-share"></i>
          </div>
        </footer>
      </article><br></br>

      <article class="to-eat">
        <header>
          <div class="list-name">To Eat</div>
        </header>
        <p>
          <article class="list-entry">
            <div class="name"></div>
            <div class="address"></div>
            <div class="description"></div>
            <div class="notes"></div>
            <div class="footer">
              <button class="edit">Edit</button>&nbsp;
              <button class="delete">Delete</button>
            </div>
          </article>
        </p>
      </article><br></br>

      <article class="to-buy">
        <header>
          <div class="list-name">To Buy</div>
        </header>
        <p>
          <article class="list-entry">
            <div class="name"></div>
            <div class="available-at"></div>
            <div class="description"></div>
            <div class="notes"></div>
            <div class="footer">
              <button class="edit">Edit</button>&nbsp;
              <button class="delete">Delete</button>
            </div>
          </article>
        </p>
      </article><br></br>

      <article class="uncategorized">
        <header>
          <div class="list-name">(Uncategorized)</div>
        </header>
        <p>
        <div></div>
        </p>
      </article> -->

  </main>
</body>

</html>
