<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Lists</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- App CSS -->
  <!-- <link rel="stylesheet" href="/styles/index.css" type="text/css" /> -->

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- APP JS -->
  <script type="text/javascript" src="scripts/client.js"></script>
</head>

<body>
  <!-- Main Content -->
  <main>

    <!-- Navigation Bar -->
    <%- include partials/header -%>


    <!-- Add To-Do box -->
    <section class="new-to-do">
      <form action="" id="" method="post">
        <textarea name="text" id="to-do" class="text-area" placeholder="What would you like to do later?"></textarea>
        <div class="footer">
          <button type="submit">Add To-Do</button>
        </div>
      </form><br></br>

      <!-- Preview To-Do box -->
      <label class="preview">
        Select a match:
      </label>
      <article class="preview-box">
        <article class="api-1">Moby Dick (1956 film)<br></br>Moby Dick (2010 film)</article>
        <article class="api-2">Moby-Dick (1851 novel)</article>
        <article class="api-3"></article>
        <article class="api-4"></article>
      </article>
    </section>

    <!-- To-Do Lists -->
    <section class="lists">
      <article class="to-watch">
        <header>
          <div class="list-name">To Watch</div>
        </header>
        <p>
        <article class="list-entry">
          <div class="title"></div>
          <div class="director"></div>
          <div class="description"></div>
          <div class="notes"></div>
          <div class="footer">
            <button class="edit">Edit</button>&nbsp;
            <button class="delete">Delete</button>
          </div>
        </article>
        </p>
        <footer>
          <div class="date-updated"></div>
          <div class="action-icons"> &nbsp;&nbsp;
            <i class="fa fa-share"></i>
          </div>
        </footer>
      </article><br></br>

      <article class="to-read">
        <header>
          <div class="list-name">To Read</div>
        </header>
        <p>
        <article class="list-entry">
          <div class="title">Moby-Dick (1851)</div>
          <div class="author">Herman Melville</div>
          <div class="description">A literary classic that wasn't recognized for its merits until decades after its
            publication, Herman Melville's Moby-Dick tells the tale of a whaling ship and its crew, who are carried
            progressively further out to sea by the fiery Captain Ahab.</div>
          <div class="notes">[notes]</div>
          <div class="footer">
            <button class="edit">Edit</button>&nbsp;
            <button class="delete">Delete</button>
          </div>
        </article>
        </p>
        <footer>
          <div class="date-updated">Updated: March 7, 2021</div>
          <div class="action-icons"> &nbsp;&nbsp;
            <i class="fa fa-share"></i>
          </div>
        </footer>
      </article><br></br>

      <article class="to-eat">
        <header>
          <div class="list-name">To Eat</div>
        </header>
        <p>
          <article class="list-entry">
            <div class="name"></div>
            <div class="address"></div>
            <div class="description"></div>
            <div class="notes"></div>
            <div class="footer">
              <button class="edit">Edit</button>&nbsp;
              <button class="delete">Delete</button>
            </div>
          </article>
        </p>
      </article><br></br>

      <article class="to-buy">
        <header>
          <div class="list-name">To Buy</div>
        </header>
        <p>
          <article class="list-entry">
            <div class="name"></div>
            <div class="available-at"></div>
            <div class="description"></div>
            <div class="notes"></div>
            <div class="footer">
              <button class="edit">Edit</button>&nbsp;
              <button class="delete">Delete</button>
            </div>
          </article>
        </p>
      </article><br></br>

      <article class="uncategorized">
        <header>
          <div class="list-name">(Uncategorized)</div>
        </header>
        <p>
        <div></div>
        </p>
      </article>
    </section>

  </main>
</body>

</html>
