// See: https://sass-lang.com/

body {
  background-color: #f4f1ec;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #545149;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5em;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    color: white;
    background-color: #11261c;
  }

  .title-case {
    font-family: sans-serif;
    font-size: 36px;
  }

  main {
    margin: 120px;
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 100%;
    color: #545149;
    background-color: #f4f1ec;
  }


  // Add To-Do

  .new-to-do {
    align-self: center;
    width: 90%;
    padding: 1.5em;
    background-color: f4f1ec;
  }

  .text-area {
    width: 100%;
    background: transparent;
    border: transparent;
    outline: none;
    border-bottom: 3.5px solid #545149;
    font-weight: 400;
  }

  button {
    height: 45px;
    font-family: "Bungee", sans-serif;
    font-size: 90%;
    color: white;
    background-color: #5059a7e5;
  }


  // Preview

  .preview {
    // display: none;
    font-size: 90%;
  }

  .preview-box {
    // display: none;
    display: flex;
    height: 200px;
    // padding: 1.5em;
    border: 2px dotted #292626;
    // border: 2px dotted #855c77;
    // border: 2px dotted #b49069;
    // border: 2px dotted #a9a9c3;
    // border: 2px dotted #88c7be;
    // border: 2px dotted #c98989;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 90%;
  }

  .api-1 {
    // display: none;
    display: flex;
    align-items: center;
    padding: 1.5em;
    // width: 100%;
    // border: transparent;
    // width: 50%;
    // width: 33.333%;
    width: 25%;
    border-right: 2px dotted #292626;
    font-size: 90%;
    overflow: hidden;
  }

  .api-1:hover {
    border: 3.5px solid #855c77;
  }

  .api-2 {
    // display: none;
    display: flex;
    align-items: center;
    padding: 1.5em;
    // width: 100%;
    // border: transparent;
    // width: 50%;
    // width: 33.333%;
    width: 25%;
    border-right: 2px dotted #292626;
    font-size: 90%;
    overflow: hidden;
  }

  .api-2:hover {
    border: 3.5px solid #b49069;
  }

  .api-3 {
    // display: none;
    display: flex;
    padding: 1.5em;
    // width: 100%;
    // width: 50%;
    // width: 33.333%;
    // border: transparent;
    width: 25%;
    border-right: 2px dotted #292626;
  }

  .api-3:hover {
    border: 3.5px solid #a9a9c3;
  }

  .api-4 {
    // display: none;
    display: flex;
    padding: 1.5em;
    width: 25%;
    border: transparent;
  }

  .api-4:hover {
    border: 3.5px solid #88c7be;
  }


  // To-Do Lists

  .lists {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 1.5em;
    width: 90%;
    background-color: f4f1ec;
  }

  .list-name {
    font-weight: 400;
  }

  // .list-body {
  //   font-weight: 300;
  // }

  .to-watch {
    padding: 1.5em;
    border: 4px solid #855c77;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
  }

  .to-watch:hover {
    // box-shadow: 5px 10px #a6aad8;
    border: 5px solid #855c77;
    font-weight: 400;
  }

  .to-read {
    padding: 1.5em;
    border: 4px solid #b49069;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
  }

  .list-entry {
    display: none;
  }

  .title {
    display: none;
  }

  .author {
    display: none;
  }

  .description {
    display: none;
  }

  .notes {
    display: none;
  }

  .edit {
    display: none;
  }

  .delete {
    display: none;
  }

  footer {
    display: none;
  }

  .action-icons {
    display: none;
  }

  .to-read:hover {
    // box-shadow: 5px 10px #a6aad8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid #b49069;
    font-weight: 400;
    height: 475px;
    overflow: scroll;

    .list-entry {
      display: flex;
      flex-direction: column;
    }

    .title {
      display: flex;
      padding-top: .25em;
      padding-bottom: .25em;
      font-weight: 700;
    }

    .author {
      display: flex;
      padding-top: .25em;
      padding-bottom: .25em;
    }

    .description {
      display: flex;
      padding-top: .25em;
      padding-bottom: .25em;
      font-style: italic;
      font-size: 90%;
      // font-weight: lighter;
    }

    .notes {
      display: flex;
      padding-top: .25em;
      padding-bottom: .5em;
      font-size: 90%;
      font-weight: lighter;
    }

    // .edit {
    //   display: inline;
    //   font-size: 90%;
    // }

    // .delete {
    //   display: inline;
    //   font-size: 90%;
    // }


    footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      font-size: 19px;
    }

    .action-icons {
      display: flex;
      color: rgb(95, 95, 231);
      font-size: 90%;
    }
  }

  .list-entry:hover {
    .edit {
      display: inline;
      font-size: 90%;
    }

    .delete {
      display: inline;
      font-size: 90%;
    }
  }




  .to-eat {
    padding: 1.5em;
    border: 4px solid #a9a9c3;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
  }

  .to-eat:hover {
    // box-shadow: 5px 10px #a6aad8;
    border: 5px solid #a9a9c3;
    font-weight: 400;
  }

  .to-buy {
    padding: 1.5em;
    border: 4px solid #88c7be;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
  }

  .to-buy:hover {
    // box-shadow: 5px 10px #a6aad8;
    border: 5px solid #88c7be;
    font-weight: 400;
  }

  .uncategorized {
    padding: 1.5em;
    border: 4px solid #c98989;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
  }

  .uncategorized:hover {
    // box-shadow: 5px 10px #a6aad8;
    border: 5px solid #c98989;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
  }




}
